{{ define "main" }}

<div class="has-animation-slideup page-content container">
    {{if .Params.hidetitle}}
    {{ else }}
    <h1>{{ .Title }} </h1>
    {{ end }}
    {{ .Content }}
    <div class="grid">
        {{ $paginator := .Paginate (sort .Pages "Params.id" "desc" ) }}
        {{ range $paginator.Pages }}
        <div class="grid-item">
            <div class="grid-image-container">
                <img alt="content" class="grid-image" draggable="false"
                    src="https://files.hexandcube.tk/wallpapers/thumbnails/Wallpaper-{{ .Params.id }}{{ with .Params.variant }}-{{ . }}{{ end }}.png">
            </div>
            <div class="level is-mobile">
                <div class="level-left is-block">
                    <span class="is-size-4 has-text-weight-bold">{{ .Title }}</span>
                    <br>
                    <span class="is-family-monospace">{{ .Params.resolution }}</span>
                </div>
                <div class="level-right">
                    <a class="button-text"
                        href="https://files.hexandcube.tk/wallpapers/Wallpaper-{{ .Params.id }}{{ with .Params.variant }}-{{ . }}{{ end }}.png"
                        title="Download" download><i class="fas has-text-primary fa-download"></i></a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}

</div>
{{ end }}